@media screen and (max-width: 640px) {
  body{
    background: red;
    font-size: 12px;
  }
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
  body{
    background: blue;
    font-size: 14px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
  body{
    background: yellow;
    font-size: 16px;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1920px) {
  body{
    background: green;
  }
}
