

body {
  margin : 0;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

header {
  text-align: right;
  padding: 25px;
  background-color: #afc7ab;
}

header a {
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  transition: all .4s;
}

header a:hover{
  color: green;
}

#section1 {
  background-image: url("apes1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#section1 h1{
  color: #fff;
  text-transform: uppercase;
}

#section2, #section3, #section4 {
  display: flex;
}

#section3 {
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
}

#section3 img{
  max-width: 85%;
}

#section4 {
  justify-content: center;
}

#section5 {
  background-image: url("baby.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  background-attachment: fixed;
}
